<div class="page-header">
  <button mat-raised-button class="btn btn-primary" (click)="openDialog()">
    <span> Thêm phân loại </span>
  </button>
  <button mat-raised-button class="btn btn-primary" style="margin-left: 20px;"
    (click)="openDialogCreateProductTypeDetail()">
    <span> Thêm nhóm sản phẩm </span>
  </button>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-md-6" style="max-height: 300px; overflow-y: auto;">
    <table class="table table-bordered table-hover table-sm">
      <thead style="height: 50px; vertical-align: middle; text-align: center; position: sticky; top: 0;" class="table-primary">
        <tr>
          <th class="col-1">STT</th>
          <th class="col-8">Phân loại</th>
          <th class="col-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let type of ProductType; let i = index">
          <tr >
            <td style="text-align: center;">{{ i + 1 }}</td>
            <td class="type" style="text-align: left; cursor: pointer;" (click)="viewProductTypeDetails(type.id)">{{ type.type }}</td>
            <td class="active">
              <button class="btn" (click)="updateProductType(type.id)"><mat-icon>edit</mat-icon></button>
              <button class="btn" style="margin-left: 10px" (click)="deleteProductType(type.id)">
                <mat-icon>delete</mat-icon>
              </button>

            </td>
          </tr>
        </ng-container>

      </tbody>
    </table>
  </div>
  <div class="col-md-6" style="max-height: 300px; overflow-y: auto;">
    <table class="table table-bordered table-hover table-sm">
      <thead style="height: 50px; vertical-align: middle; text-align: center; position: sticky; top: 0;" class="table-primary">
        <tr>
          <th class="col-1">STT</th>
          <th class="col-8">Nhóm sản phẩm</th>
          <th class="col-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="productTypeDetail.length > 0; else noData">
          <tr *ngFor="let typeDetail of productTypeDetail; let i = index">
            <td style="text-align: center;">{{ i + 1 }}</td>
            <td>{{ typeDetail.typeDetail }}</td>
            <td style="text-align: center;">
              <button class="btn" (click)="updateProductTypeDetail(typeDetail.id)"><mat-icon>edit</mat-icon></button>
              <button class="btn" style="margin-left: 10px" (click)="deleteProductTypeDetail(typeDetail.id)">
                <mat-icon>delete</mat-icon>
              </button>

            </td>
          </tr>
        </ng-container>
        <ng-template #noData>
          <tr>
            <td colspan="3" style="text-align: center">Không có dữ liệu</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  
</div>
