.check:invalid {
  border: 2px solid red;
}

.mat-error-unitNameInvalid {
  display: none;
}

/* .check:invalid + .mat-error-unitNameInvalid,
.input-container:focus .mat-error-unitNameInvalid {
  display: block;
} */

/* .input-container:focus-within .mat-error-unitNameInvalid {
  display: block;
} */

.check:valid {
  border: 2px solid black;
}

.check:invalid + .mat-error-unitNameInvalid {
  display: block;
}

label {
  font-weight: 500;
 }
