<!-- <div class="form-container">
    <form (ngSubmit)="onSubmit()">
        <div>
            <label> Tên sản phẩm</label>
            <input type="text"[(ngModel)]="asset.productName" name="productName" />
        </div>
        <div>
            <label> Serial</label>
            <input type="text"[(ngModel)]="asset.serial" name="serial" />
        </div>

        <div>
            <label> Xuất xứ</label>
            <input type="text"[(ngModel)]="asset.productOrigin" name="productOrigin" />
        </div>
        <div>
            <label> Thông số kĩ thuật</label>
            <input type="text"[(ngModel)]="asset.description" name="description" />
        </div>
        <div>
            <label> Tình trạng sản phẩm</label>
            <input type="text"[(ngModel)]="asset.status" name="status" />
        </div>
        <div>
            <label> Ngày mua</label>
            <input type="text"[(ngModel)]="asset.purchase_date" name="purchase_date" />
        </div>

        <button class="btn btn-success" type="submit">Cập nhật sản phẩm</button>
    </form>
</div> -->
